html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-item{
    padding:0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 100;
}
.snack-box{
    width: 700px;
}
.snack-name {
    font-family: "Ubuntu";
}
.snack-price {
    font-family: "Montserrat";
}
.short-description{
    color: #8f8f8f;
}
.empty-cart{
    text-align: center;
}
